.ant-modal {
  .ant-modal-content {
    .ant-modal {
      &-header {
        padding: 20px 16px;
        border-bottom: 1px solid #eaeaea;

        .ant-modal-title {
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
        }
      }

      &-footer {
        padding: 20px 16px;
        border: none;
      }

      &-body {
        padding: 0;
      }
    }
  }
}

.page-container {
  &-header {
    width: 100%;
    display: flex;
    padding: 0 32px;
    height: 72px;
    align-items: center;
  }

  &-body {
    padding: 0 32px;
  }
}
