.vue-list-tabs{
	// border-bottom: 1px solid $border-color;
	.item-tab{
		padding: 10px 0;
		font-weight: 600;
		color: $dark-gray3;
		font-size: 14px;
		display: inline-flex;
		align-items: center;
		position: relative;
		text-align: center;
		text-decoration:none;
		line-height: 20px;
		min-height: 35px;
		user-select: none;
		~ .item-tab{
			margin-left: 24px;
		}
		&:before{
			content : '';
			position: absolute;
			bottom: -2px;
			left: 0;
			right: 0;
			height: 3px;
			background: transparent;
			transition: all 0.2s ease;
		}
		&.is-actived{
			color: $primary-color;
			&:before{
				background: $primary-color;
			}
			&:hover{
				&:before{
					background: $primary-color;
				}
			}
		}
		&.is-disabled{
			cursor: not-allowed;
			opacity: 0.6;
		}
		&:hover{
			&:before{
				background: #E2E2E2;
			}
		}
		&-count{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 0px 5px;
			border-radius: 4px;
			text-align: center;
			margin-left: 5px;
			min-width: 28px;
			font-size: 12px;
			&-danger{
				background-color: $danger;
				color: #fff;
			}
		}
	}
}