.autopilot{
	.autopilot{
		&-title{
			width: 100%;
			display: flex;
			align-items: center;
		}
		&-header{
			width: 100%;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			padding: 24px 24px;
			border-bottom:1px solid $border-color;
			
			&-status{
				font-weight: 600;
				font-size: 14px;
				line-height: 22px;
				color: #CECECE;
				position: relative;
				&:before{
					content: '';
					width: 8px;
					height: 8px;
					display: inline-block;
					border-radius: 50%;
					background-color: #CECECE;
					margin-right: 8px;
				}
				&.is-active{
					color: $primary-color;
					&:before{
						background-color: $primary-color;
					}
				}
			}
			&-actions{
				width: 100%;
				max-width: 200px;
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				button ~ button {
					margin-left: 15px;
					min-width: 80px;
				}
			}
			
		}
		&-loading{
			height: 400px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #fff;
		}
		&-body{
			width: 100%;
			position: relative;
			label{
				font-weight: normal;
			}
			.form-group-content{
				padding: 0;
				position: relative;
				// border-top: 1px solid $border-color;
			}
			.form-group-content-heading{
				display: flex;
				min-height: 72px;
				border: none;
			}
			hr{
				border-color: $light-gray3;
			}
		}
		&-social{
			
		}
		&-content{
			
			h3{
				font-weight: 600;
				font-size: 18px;
				margin-bottom: 0;
				margin-top: 0;
				display: inline-block;
			}
		}
		&-main{
			padding: 0 24px;
		}
		&-preview{
			width: 500px;
			position: fixed;
			top: $app-toolbar-height;
			right: 0;
			bottom: 0;
			overflow: hidden auto;
			z-index: 50;
			border-left: 1px solid $border-color;
			background-color: #ffffff;
		}
		&-scrollbar{
			height: 100%;
			overflow: hidden auto;
		}
		&-form{
			display: flex;
			width: 100%;
			position: relative;
		}
		&-actions{
			.ant-btn{
				min-width: 150px;
			}
		}
	}
	&-tag{
		color : $text;
		font-weight: 600;
		display: inline-block;
		line-height: 20px;
		padding: 0 5px;
		background-color: #D8D8D8;
		border-radius: 4px;
	}
	.btn{
		&-remove-autopilot{
			color: $danger;
			background-color: transparent;
			border-color: transparent;
		}
	}
	&-form-navbar{
		position: fixed;
		top: 0;
		right: 0;
		height: $app-toolbar-height;
		background: $primary-color;
		// border-bottom: 1px solid $border-color;
		z-index:  502;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 0 24px;
		
		.ant-btn{
			color: $primary-color;
			&.ant-btn-transparent{
				background-color: transparent;
				color: #fff;
			}
		}
	}
}
