$app-list-account-width: 240px;
$app-list-account-collapse-width: 74px;
$app-collapse-breakpoint: 1200px;
$app-max-container-width : 1140px;

$facebook-color : #4080ff;
$twitter-color : #1da1f2;
$instagram-color : #F00075;

.ant-modal {
    .ant-modal-content {
        .ant-modal {
            &-header {
                padding: 20px 16px;
                border-bottom: 1px solid #EAEAEA;
                .ant-modal-title {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24px;
                }
            }
            &-footer {
                padding: 20px 16px;
                border: none;
            }
            &-body {
                padding: 0;
            }
        }
    }
}

.page-container {
    &-header {
        width: 100%;
		// background-color: $light-gray4;
		padding: 0;
		&-title{
			height: 72px;
			display: flex;
			align-items: center;
			padding: 0 24px;
		}
    }
    &-body {
		padding: 0 24px;
		width: 100%;
    }
    &-aside {
        width: $app-list-account-width;
        position: fixed;
        top: $app-toolbar-height;
        bottom: 0;
        left: $app-sidebar-width;
        border-right: 1px solid $border-color;
        // transition: all 0.2s ease;
        z-index: 50;
        background-color: #ffffff;
    }
    &-content {
        width: 100%;
        padding-left: $app-list-account-width;
        // transition: all 0.2s ease;
        z-index: 40;
        background-color: #ffffff;
    }
    &-wrapper {
		// padding: 15px 30px;
		padding: 0;
    }
    &.page-container-collapse {
        .page-container {
            &-aside {
                width: $app-list-account-collapse-width;
            }
            &-content {
                padding-left: $app-list-account-collapse-width;
            }
        }
    }
}
@media (max-width: #{$app-max-container-width + $app-sidebar-width}){
	.container {
		max-width: 100% !important;
	}
}
.fade-in-enter-active,
.fade-in-leave-active {
    transition: opacity 100ms;
}

.fade-in-leave-active {
    transition-duration: 50ms;
}

.fade-in-enter,
.fade-in-leave-to {
    opacity: 0;
}

.ant-input-search {
    .ant-input {
        border-color: transparent !important;
        background: #F3F3F3 !important;
    }
}

label{
	font-weight: 600;
}
.label {
    &-premium {
        background: #E8F4FF;
        border-radius: 4px;
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        padding: 0 10px;
        color: $primary-color;
        display: inline-flex;
        user-select: none;
    }
}

.btn {
    &-track-event {
        * {
            pointer-events: none;
        }
	}
	&-integrate{
		min-width: 120px;
		&.btn{
			&-primary{
				color: $primary-color;
				border-color:  $primary-color;
			}
			&-danger{
				color: $danger;
				border-color: $danger;
			}
			&-success{
				color: $success;
				border-color: $success;
			}
		}
	}
}

.z-index {
    &-500 {
        z-index: 500;
    }
}