
.list-items-table{
	.item-row{
		transition:  all 0.3s ease;
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		align-items: center;
		border-bottom: 1px solid $light-gray3;
		.item-col{
			padding: 0 8px;
			overflow: hidden;
		}
		&.item-row-heading{
			height: 40px;
			padding: 0;
			border-bottom: 2px solid $light-gray3;
			background: #fff;
			font-weight: 600;
			&:hover{
				background: #fff;
			}
		}
		&:not(.item-row-heading):hover{
			background: $light-gray3;
			cursor: pointer;
		}
	}
}
.item-list-table-dropdown{
	&-btn{
		width: 32px;
		height: 32px;
		padding: 0;
		background: transparent;
		font-size: 18px;
		border: 1px solid transparent;
		color: $text;
		box-shadow: none;
		overflow: hidden;
		&:hover,&:focus , &.ant-dropdown-open{
			background: rgba(0,0,0,0.1);
			border: 1px solid transparent;
			color: $text;
		}
	}
	&-menu{
		.ant-dropdown-menu-item{
			width: 120px;
			font-size: 14px;
			line-height: 22px;
			color: $text;
		}
	}
}