@media( max-width: $app-collapse-breakpoint) {
    .app-layout-content {
        min-height: calc(100vh - #{$app-toolbar-height + 17px});
    }
    .vue-list-social-account .btn-collapse {
        opacity: 0.5;
        pointer-events: none;
    }
    .autopilot {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        &-body {
            height: 100%;
            position: relative;
        }
        .autopilot-form {
            height: 100%;
            position: relative;
            overflow: hidden;
            .page-container {
                &-content {
                    padding-left: 74px;
                    padding-right: 350px;
                    height: 100%;
                    overflow: hidden;
                }
                &-aside {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                }
                &-preview {
                    width: 350px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                }
                &-wrapper {
                    height: 100%;
                    position: relative;
                    .autopilot-content {
                        height: 100%;
                        position: relative;
                    }
                }
            }
        }
    }
    .vue-list-post-page .list-post-content-sticky {
        left: #{$app-sidebar-width + $app-list-account-collapse-width} !important;
        width: auto !important;
        right: 16px !important;
        padding: 0 16px;
    }
    .list-autopilot .list-autopilot-content-sticky {
        left: #{$app-sidebar-width + $app-list-account-collapse-width} !important;
        width: auto !important;
        right: 16px !important;
        padding: 0 16px;
    }
}