.vue-social-widget{
	&-loading{
		height: 400px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.page-widget{
	&-sticky{
		background-color: $light-gray4;
		display: none;
		padding-top: 10px;
		&.vue-position-sticky{
			display: block;
		}
		
	}
	.page-container-header{
		background-color: $light-gray4;
	}
	.list-widget-styles{
		display: flex;
		align-items: center;
		.item-style{
			margin-left: 16px;
			cursor: pointer;
			&-image{
				border: 1px solid transparent;
				width: 104px;
				height: 104px;
				border-radius: 4px;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #EBEDF0;
				margin-bottom: 8px;
			}
			&-title{
				text-align: center;
			}
			&:first-child{
				margin-left: 0;
			}
			&.is-active,&:hover{
				.item-style{
					color: $primary-color;
					&-image{
						color: $light-blue2;
						border-color: $primary-color;
					}
				}
			}
		}
	}
	.widget-slider{
		display: flex;
		align-items: center;
		&-wrap{
			@include col;
			padding-right: 8px;
		}
		&-value{
			@include flex(90px);
			.ant-input{
				padding-left: 0;
				padding-right: 0;
				text-align: center;
			}
		}
		.ant-slider{
			.ant-slider-track{
				background-color: $primary-color;
			}
			.ant-slider-handle{
				border-color: $primary-color;
			}
		}
	}
}